{% extends "app/layout.html" %}

{% block content %}
{% load staticfiles %}


    <link rel="stylesheet" type="text/css" href="{% static 'css/default.css' %}" />
    <form id="upf" action="{% url 'Revo' %}" method="GET">
      {% csrf_token %}
          <h1>Revo</h1>
          <fieldset class="row">
<!--            {{ user_form.as_p }}
           {{ profile_form.as_p }} -->
          <p>
          </fieldset>
          <fieldset class="row">
              <legend>Select a Setup Box
              </legend>
              <p>
                  <label>Setup Box 
                  </label>
                  <select title="my_options">
                      <option>
                      </option>
                      <option value="0">VMS_01
                      </option>
                      <option value="1">VMS_02
                      </option>
                      <option value="2">VMS_JENKINS_01
                      </option>
                      <option value="2">IPC2_JENKINS_01
                      </option>
                      <option value="2">VMS_JENKINS_02
                      </option>
                      <option value="2">IPC2_JENKINS_02
                      </option>
                      <option value="2">IPC2_03
                      </option>
                      <option value="2">IMG_01
                      </option>
                  </select>
              </p>
          </fieldset>
          <fieldset class="row">
              <legend>Select a Suit Name
              </legend>
              <p>
                  <label>Suit Name 
                  </label>
                  <select>
                      <option>
                      </option>
                      <option value="0">REG_AGREED_SUITE01
                      </option>
                      <option value="1">REG_AGREED_SUITE02
                      </option>
                      <option value="2">REG_AGREED_SUITE03
                      </option>
                      <option value="2">REG_AGREED_SUITE04
                      </option>
                      <option value="2">REG_AGREED_SUITE05
                      </option>
                      <option value="2">GENERAL_EVO_SCRIPTS
                      </option>
                      <option value="2">PC_PUR_EVO_SCRIPTS
                      </option>
                      <option value="2">CLR_PIN_PC_PUR_EVO_SCRIPTS
                      </option>
                      <option value="2">SUITE01_REGSCRIPTS
                      </option>
                      <option value="2">SUITE02_REGSCRIPTS
                      </option>
                      <option value="2">SUITE03_REGSCRIPTS
                      </option>
                      <option value="2">SUITE04_REGSCRIPTS
                      </option>
                      <option value="2">SUITE05_REGSCRIPTS
                      </option>
                      <option value="2">SAMPLE_TEST_SUITE
                      </option>
                  </select>
              </p>
          </fieldset>

          <script type="text/javascript"> 
          function show_alert() 
          { 
          alert("Run Successful!"); 
          } 
          </script> 
          <input type="button" onclick="show_alert()" value="Run &raquo" /> 

      </form>

{% endblock %}

