
{% extends "app/layout.html" %}

{% block content %}

    <head>
        <title>Rango</title>
    </head>

    <body>
        <h1>Add a Category</h1>

        <form id="testsuite_form" method="post" action="/app/add_testsuite/">


            {% csrf_token %}

            {% for field in form.visible_fields %}
                {{ field.errors }}
                {{ field.help_text }}
                {{ field }}
            {% endfor %}

            <input type="submit" name="submit" value="Create Category" />
        </form>
    <a href="/app/add_testsuite/">Add a Test Suite</a>    
    </body>


{% endblock %}