<!DOCTYPE html>
<html>

{% load staticfiles %}

<head> 
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content=""> 
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="shortcut icon" href="{% static 'app/images/smallicon.png' %}" />
    <title>Verizon</title> 
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/bootstrap.min.css' %}" /> 
    <link href="{% static 'app/content/style.css' %}" rel="stylesheet"> 
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="{% static 'app/scripts/script.js' %}"></script> 
</head> 

<form id="upf" action="{% url 'Revo' %}" method="GET">
<body>
<div class="container mainpage">
    <a href="{% url 'home' %}">
    <img src="{% static 'app/images/Console.png' %}" > 
    </a>
    <a href="{% url 'Reports' %}">
      <img src="{% static 'app/images/Reports.png' %}">
    </a>
    <img src="{% static 'app/images/verizon.png' %}" class="pull-right verizonicon">
    
</div>

<h1 style="text-align:center;">Reports page is under construction</h1>

      <footer id="footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                     Powered by <img src="{% static 'app/images/hcl.png' %}"> 
                </div> 
            </div>
        </div>
    </footer>
  </form>

</body>
</html>
